div {
  cursor: default;
}

body {
  background-color: #4e5e75;
}

:root {
  font-family: "Arial";
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  z-index: 100;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e3846;
}

@media screen and (min-width: 425px) {
  :root {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (min-width: 2560px) {
  :root {
    font-size: 17px;
  }
}
